* {
	box-sizing: border-box;
	font-family: arial, sans-serif;
}

.block {
	width: 290px;
	height: 370px;
	border: 1px solid #000;
	border-radius: 5px;
}

.title {
	margin-top: 12px;
	margin-left: 12px;
	margin-bottom: 10px;
}

label {
	margin-left: 12px;
}

input {
	display: block;
	padding-right: 40px;
	margin-left: 12px;
	margin-top: 4px;
	margin-bottom: 8px;
}

input::placeholder {
	padding: 6px;
	font-size: 12px;
}

.checkbox {
	display: inline-block;
	margin-top: 8px;
	margin-left: 4px;
	cursor: pointer;
}

span {
	display: inline-block;
	margin-bottom: 4px;
}

textarea {
	display: block;
	padding-top: 4px;
	padding-right: 70px;
	padding-left: 9px;
	margin-left: 12px;
	font-size: 12px;
	min-height: 24px;
	max-height: 45px;
	resize: vertical;
}

.font {
	font-size: 13px;
}

.button {
	display: block;
	font-size: 12px;
	width: 80px;
	height: 22px;
	border-radius: 5px;
	border: 0;
	margin-left: 12px;
	cursor: pointer;
}
